<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Administrator</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
<% if current_user.is_a?(Admin) %>

  <main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary position-fixed vh-100" style="width: 280px;">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://img.freepik.com/vector-gratis/diseno-icono-degradado-logotipo-empresa-moderna_53876-120504.jpg?w=826&t=st=1693366444~exp=1693367044~hmac=8dd716f6cb7664515a66c4f2707df8c484eaa72ae861ea2283305a6fb211f7ae" alt="" width="32" height="32" class="rounded-circle me-2">
        <span class="fs-4">Hi, <%= current_user.name %></span>
        
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="<%= '/admin' %>" class="nav-link active" aria-current="page">
              <i class="fa-solid fa-house me-2"></i>Home
          </a>
        </li>
        <li>
          <a href="<%= '/admin/students' %>" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-graduation-cap me-2"></i>Students
          </a>
        </li>
        <li>
          <a href="<%= '/admin/teachers' %>" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-chalkboard-user me-2"></i>Teachers
          </a>
        </li>
        <li>
          <a href="<%= '/admin/assignments' %>" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-book-open me-2"></i>Assignments
          </a>
        </li>
        <li><hr></li>
        <li>
          <a href="<%= '/admin/assignments_teachers' %>" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-thumbtack"></i>Make a class
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>User</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to 'Sign out', logout_path, method: :delete, class: "dropdown-item" %></li>
          

        </ul>
      </div>
    </div>  
  </main>
  
  
  <div class="modal-dialog modal-dialog-centered" style="margin: 300px;">                                               
    <p>Welcome <%= current_user.class.name %>:</p>
    <ul>
      <li>Nombre: <%= current_user.name %></li>
      <li>Account: <%= current_user.account %></li>
    </ul>                    
  </div>
  <%= render 'alert' %>  

<% else %>
  <p>No has iniciado sesión como admin.</p>
<% end %>
  
  
</body>
</html>
