<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Administrator</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<% if current_user.is_a?(Admin) %>

    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary position-fixed vh-100" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="https://img.freepik.com/vector-gratis/diseno-icono-degradado-logotipo-empresa-moderna_53876-120504.jpg?w=826&t=st=1693366444~exp=1693367044~hmac=8dd716f6cb7664515a66c4f2707df8c484eaa72ae861ea2283305a6fb211f7ae" alt="" width="32" height="32" class="rounded-circle me-2">
                <span class="fs-4">Hi, <%= current_user.name %></span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="<%= '/admin' %>" class="nav-link link-body-emphasis">
                        <i class="fa-solid fa-house me-2"></i>Home
                    </a>
                </li>
                <li>
                    <a href="<%= '/admin/students' %>" class="nav-link link-body-emphasis">
                        <i class="fa-solid fa-graduation-cap me-2"></i>Students
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= '/admin/teachers' %>" class="nav-link active" aria-current="page">
                        <i class="fa-solid fa-chalkboard-user me-2"></i>Teachers
                    </a>
                </li>
                <li>
                    <a href="<%= '/admin/assignments' %>" class="nav-link link-body-emphasis">
                        <i class="fa-solid fa-book-open me-2"></i>Assignments
                    </a>
                </li>
                <li><hr></li>
                <li>
                    <a href="<%= '/admin/assignments_teachers' %>" class="nav-link link-body-emphasis">
                        <i class="fa-solid fa-thumbtack"></i>Make a class
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>User</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to 'Sign out', logout_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
            </div>
        </div>  
    </main>

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <b>Teachers</b></h2>
                        </div>
                    <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                            <div class="search-box">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                            <button id="addStudentBtn" class="btn btn-success" data-toggle="modal" data-target="#addStudentModal" style="width: 100px;"><i class="fa-solid fa-plus"></i> <span>Add</span></button> 
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive custom-table-size">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Account</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @teachers.each do |teacher| %>
                        <tr> 
                            <td style="text-align: center;"> <%= teacher.id %>          </td>
                            <td style="text-align: center;"> <%= teacher.name %>        </td>
                            <td style="text-align: center;"> <%= teacher.last_name %>   </td>
                            <td style="text-align: center;"> <%= teacher.email %>       </td>
                            <td style="text-align: center;"> <%= teacher.account %>     </td>
                            <td class="actions-column">                               
                                <%= link_to edit_admin_teacher_path(teacher), class: 'edit' do %>
                                    <i class="fa-solid fa-pen"></i>
                                <% end %>
                                <%= link_to delete_admin_teacher_path(teacher), method: :delete, data: { confirm: 'Delete this teacher?' }, class: 'delete' do %>
                                    <i class="fa-solid fa-trash"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            </div>
            <div class="clearfix">
                <div class="hint-text">Showing <b>1</b> out of <b>?</b> entries</div>
                <%= will_paginate @teachers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            </div>

            </div>
        </div>        
    </div>

  <!-- add Modal HTML -->
  <%= form_for :teacher, url: '/admin/create_teacher' do |f| %>
    <div id="addStudentModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">						
                    <h4 class="modal-title">Add Teacher</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">					
                  <div class="form-group">
                      <%= f.label :Name%>
                      <%= f.text_field :name, class: "form-control", required: true, pattern: "[a-zA-Zá-úÁ-Ú\s]*", title: "Enter a valid name"  %>
                  </div>
                  <div class="form-group">
                      <%= f.label :'Last Name'%>
                      <%= f.text_field :last_name, class: "form-control", required: true, pattern: "[a-zA-Zá-úÁ-Ú\s]*", title: "Enter a valid last name" %>
                  </div>
                  <div class="form-group">
                      <%= f.label :Email%>
                      <%= f.email_field :email, class: "form-control", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label :Password%>
                    <%= f.password_field :password, class: "form-control", value: @password, required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label :'Number Account' %>
                    <%= f.number_field :account, class: "form-control", value: @account, readonly: true %>
                  </div>
                  
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <%= f.submit "Add", class: "btn btn-success"%>
                </div>
            </div>
        </div>
    </div>
  <% end %>
  <%= render 'alert' %>  
<% else %>
<p>No has iniciado sesión como admin.</p>
<% end %>
</body>
</html>
