<% if current_user.is_a?(Teacher) %>
  <p>Welcome <%= current_user.class.name %>:</p>
  <ul>
    <li>Nombre: <%= current_user.name %></li>
    <li>Email: <%= current_user.email %></li>
    <!-- Otros datos del usuario -->
  </ul>
  <%= link_to 'Cerrar sesión', logout_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <p>No has iniciado sesión como teacher.</p>
<% end %>
<%= render 'alert' %>  
